// Mixins in here

.custom-btn(@bg-color:#008080, @width:90%, @font-color:white, @height:1.8vw){
    background-color: @bg-color;
    width: @width;
    color: @font-color;
    text-align: center;
    height: @height;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    border-color: none;
    border: none;
}